<h1>iSell</h1>
<h3>Where people come to buy stuff</h3>


<!-- Add an About/Contact me page that can be linked through navbar -->
<!-- Add background image? on homepage -->
<!-- Add more prominent sign up and sign in buttons on the homepage -->
